@page
@model OrganizationChartMIS.Pages.Dashboard.DashboardModel
@{
}

<h2>Dashboard</h2>

<div >
    <h3>Positions</h3>

    <table class="table">
        <thead>
            <tr>
                <th>PositionID</th>
                <th>Current Employee</th>
                <th>Title</th>
            </tr>
        </thead>

        <tbody>
            @foreach(var position in @Model.Positions)
            {
                <tr>
                    <td>@position.PositionID</td>
                    <td>@position.CurrentEmployee</td>
                    <td>@position.Title</td>
                </tr>    
            }
        </tbody>
 
    </table>
</div>

<div >
    <h3>Employees</h3>

    <table class="table">
        <thead>
            <tr>
                <th>EmployeeID</th>
                <th>First Name</th>
                <th>Last Name </th>
                <th>Email</th>
                <th>PositionID</th>
            </tr>
        </thead>

        <tbody>
            @foreach(var employee in Model.Employees)
            {
                <tr>
                    <td>@employee.EmployeeID</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.Email</td>
                    <td>@employee.PositionID</td>
                </tr>
            }
        </tbody>

    </table>
        
</div>

